<section class="blog">
    <h2>{{blogData.title}}</h2>
    <p>{{blogData.body}}</p>
    <p class="text-end">
        <b>Posted by {{blogData.user.username}} on {{blogData.dateCreated}}</b>
    </p>
</section>
<section class="comments">
    
</section>