<section id="user-blogs">
    <h2>{{username}} blogs</h2>
    <ol>
        {{#each blogData}}
        <li class="blog d-flex flex-wrap">
            <h2><a href="/blog/{{this.id}}">{{this.title}}</a></h2>
            <p>Posted on {{formatDate this.dateCreated}}</p>
        </li>
        {{/each}}
    </ol>
</section>