<div class='container'>
  <section id='login-signup' class='row'>
    <article id='login' class='col'>
      <h2>Login</h2>
      <form id='login-form'>
        <label for='username-login' class='form-label'>Username</label>
        <input type='text' id='username-login' class='form-control' />
        <label for='password-login' class='form-label'>Password</label>
        <input type='password' id='password-login' class='form-control' />
        <input type='submit' value='Login' id='login-btn' class='btn-grad' />
      </form>
    </article>
    <article id='sign-up' class='col'>
      <h2>Sign up</h2>
      <form id='signup-form'>
        <label for='username-signup' class='form-label'>Username</label>
        <input type='text' id='username-signup' class='form-control' />
        <label for='password-signup' class='form-label'>Password</label>
        <input type='password' id='password-signup' class='form-control' />
        <input type='submit' value='Sign up' id='signup-btn' class='btn-grad' />
      </form>
    </article>
  </section>
</div>

<script src='./js/login.js'></script>