<article id="login">
    <h2>Login</h2>
    <form id="login-form">
        <label for="username-login">Username: </label>
        <input type="text" id="username-login">
        <label for="password-login">Password: </label>
        <input type="password" id="password-login">
        <input type="submit" value="Login" id="login-btn">
    </form>
</article>
<article id="sign-up">
    <h2>Sign up</h2>
    <form id="signup-form">
        <label for="username-signup">Username: </label>
        <input type="text" id="username-signup">
        <label for="password-signup">Password: </label>
        <input type="password" id="password-signup">
        <input type="submit" value="Sign up" id="signup-btn">
    </form>
</article>

<script src="./js/login.js"></script>