:root {
    --primary-color: #06283D;
    --secondary-color: #256D85;
    --tertiary-color: #47B5FF;
    --quaternary-color: #DFF6FF;
    --border-styles: 5px solid var(--secondary-color);
}

h1,
h2,
h3,
p,
a {
    color: var(--quaternary-color);
}

body {
    margin: 5px;
    background-color: var(--primary-color);
}

nav {
    padding: 5px;
    border: var(--border-styles);
}

main {
    margin-top: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.blog,
.comment {
    padding: 5px;
    margin: 5px;
    border: var(--border-styles);
}

#login-signup .btn {
    margin: 5px;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--quaternary-color);
    box-shadow: 0 0 20px var(--primary-color);
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}