:root {
  --primary-color: #06283d;
  --secondary-color: #256d85;
  --tertiary-color: #47b5ff;
  --quaternary-color: #dff6ff;
  --border-styles: 5px solid var(--secondary-color);
  --bs-card-bg: #06283d;
}

h1,
h2,
h3,
p,
a,
label {
  color: var(--quaternary-color);
}

.card {
  margin: 0px 5px 10px;
  /* top | left and right | bottom */
  background-color: var(--primary-color);
  border: var(--border-styles);
}

body {
  margin: 5px;
  background-color: var(--primary-color);
}

nav {
  padding: 5px;
  border: var(--border-styles);
}

main {
  margin-top: 10px;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog,
.comment {
  padding: 20px 30px;
  margin: 5px;
  border: var(--border-styles);
}

.comment .message {
  padding: 10px;
  background-color: var(--secondary-color);
}

#login-signup .btn {
  margin: 5px;
}

#user-blogs li {
  justify-content: space-between;
}

.add-blog p,
.edit-btn {
  display: flex;
  justify-content: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--quaternary-color);
  box-shadow: 0 0 20px var(--primary-color);
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
